.address_container {
    height: auto;
    margin: 20px;
    padding: 10px;
    text-align: left;
  }
  
  .address_container form {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  
  .address textarea {
    width: 95%;
    resize: none;
    border-radius: 5px;
  }
  
  .names,
  .info_1,
  .info_2 {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    width: 100%;
  }
  
  .form {
    margin: 10px;
  }
  
  .form p {
    margin-bottom: 10px;
  }
  
  .inputs {
    border: 1px solid gray;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 100%;
  }
  
  .sw {
    width: 100%;
  }
  
  .form button {
    margin-top: 20px;
    width: 150px;
    padding: 5px 15px;
    background: #fc03df;
    border: none;
    outline: none;
    color: white;
    font-size: bold;
    border-radius: 5px;
    font-weight: bold;
  }
  
  /* Responsive CSS */
  
  @media screen and (max-width: 768px) {
    .address_container {
      margin: 10px;
      padding: 5px;
    }
  
    .address_container form {
      width: 100%;
    }
  
    .address textarea {
      width: 100%;
    }
  
    .form p {
      margin-bottom: 5px;
    }
  
    .inputs {
      padding: 5px;
    }
  
    .form button {
      width: 120px;
      padding: 5px 10px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .address_container {
      margin: 5px;
      padding: 2px;
    }
  
    .address_container form {
      flex-direction: column;
    }
  
    .address textarea {
      width: 100%;
    }
  
    .names,
    .info_1,
    .info_2 {
      flex-direction: column;
    }
  
    .form p {
      margin-bottom: 3px;
    }
  
    .inputs {
      padding: 3px;
    }
  
    .form button {
      width: 100px;
      padding: 3px 8px;
    }
  }
  