.aiprompt{
    margin-top:40px;
}

h1{ 
 margin-top:30px;
 margin-bottom:50px;
 font-family: 'Manrope', sans-serif;
 font-size:25px;
}

form{
    display:flex;
    justify-content:center;
    
}

.input1{
    color:white;
    outline:none;
    border:none;
    width:600px;
    background-color:#262626;
    border-radius:10px;
    padding:10px 10px;
    font-size:20px;
    margin:30px;
}

.input2{
    color:white;
    outline:none;
    border:none;
    width:200px;
    font-size:20px;
    margin:30px;
    background:#fc03df;
    border-radius:10px;
}

.image{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
.div{
    display:flex;
    justify-content:center;
    align-items:center;
    height:500px;
    width:500px;
    margin:0;

}

.back {
    position:relative;
    width:500px;
    object-fit:cover;
    border-radius:10px;
}
.ai_image{
    position:absolute;
}


.image button{
    background: linear-gradient(to right, #0066ff 28%, #33ccff 85%);
    padding:10px 220px;
    margin-top:20px;
    outline:none;
    border:none;
    border-radius:10px;
   
}

.arrow{
    margin-top:30px;
    background:transparent;
}
