.mainContainer{
    display:flex;
    flex-direction:row-reverse;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

.sideSection{
    width:49%;
    position: relative;
}

.mainSection{
    background:black;
    width:51%;
    margin:40px;
    text-align:left;
    padding-left:30px;
}

.sideSection img{
    top:0;
    left:0;
    filter:brightness(120%);
    filter:saturate(140%);
    position: absolute;
    width:100%;
    height:100%;
    object-fit:cover
}


.textContainer p{
    font-family: 'Russo One', sans-serif;
    font-size:25px;
  }
  .textContainer h1{
    font-family: 'Manrope', sans-serif;
    font-size: 70px;
    margin-top: 120px;
    letter-spacing:-2%;
  }

.btn-1{
    outline:none;
    border:none;
    border-radius:20px;
    background: linear-gradient(to left, #33ccff 0%, #0066ff 100%);
    color:black;
    font-size:17px;
    font-weight:medium;
    margin-top:40px;
    padding:5px 30px;
    transition: .2s ease-in-out;
}

.btn-1:hover{
    color:white;
}
.socials{
    margin-top:70px;
    padding-top:20px;
}

.socials a{
    margin-right:50px;
}

.btn-2{
    color:white;
 background-color:black;
 border:.5px solid white;
 outline:none;
 margin-left:30px;
 padding:5px 40px;
 font-size:17px;
font-weight:medium;
border-radius:20px;
transition: .2s ease-in-out;
}

.btn-2:hover{
    background-color:white;
    color:black;
}