*{
  background: black;
  box-sizing:border-box;
}

p ,h1{
background-color: transparent;
margin:0;
}

.App{

  
  text-align: center;
  background:black;
  color:white;
  width:100%;
  max-height: 100vh;
}
